

:root {
      --bg-body: #141414;
      --bg-body2: #242424;
      --col-transparent: #24242449;
      --accent: #4ce19e;
      --text1: #ffffff;
      --text2: #d9d9d9;
      --invalid: hsl(7, 100%, 68%);
      --hover-links: #A0857C;



      --fs-18: 1.125rem;
      --fs-88: 5.5rem;
      --fs-72: 4.5rem;
      --fs-40: 2.5rem;
      --fs-48: 3rem;
      --fs-36: 2.25rem;
      --fs-32: 2rem;
      --fs-24: 1.5rem;
      --fs-20: 1.25rem;
      --container: 69.375rem;
      
    }